@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
    height: 100vh;
    width: 100vw;
    font-family: "Audiowide", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(78, 78, 231);
    background: radial-gradient(circle, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.calc-container {
    height:50vh;
    width: 17vw;
    border: 4px solid rgb(109, 127, 233);
    border-radius: 24px;
    background-color: rgb(109, 127, 233);
}

.display {
    display: flex;
    justify-content: end;
    align-items: end;
    width:17vw;
    height: 12vh;
    border-bottom: 4px solid rgb(37, 85, 94);
    border-radius: 12px;
    font-size: 3.5vh;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 17vw;
    gap:2vw;
}

.row-1 {
    display: flex;
    justify-content: space-around;
}

.row-2 {
    display: flex;
    justify-content: space-around;  
}

.row-3 {
    display: flex;
    justify-content: space-around;    
}

.row-4 {
    display: flex;
    justify-content: space-around;    
}

button {
    font-size: 2vh;
    padding:1vh 1.5vw;
    border-style: none;
    border-radius: 24px;
    font-family: "Audiowide", sans-serif;
}

#clear {
    padding:1vh 0.7vw;
}

button:hover {
    background-color: rgb(92, 108, 198);
}